@import url("reset.css");
@import url("fonts.css");

body {
	color: #7e7f7c;
	font-family: "Lato", sans-serif;
	background-color: #fff;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 1422px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header {
	background-color: #fff;
}

.header__container {
	min-height: 164px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 80px;
}

.header__logo {}

.header__image-logo {
	width: 200px;
	max-width: none;
	height: auto;
}

.header__search {
	flex-basis: 264px;
}

.search-header {
	display: flex;
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
	align-items: center;
}

.search-header__button {
	width: 15px;
	height: 43px;
	flex-shrink: 0;
	background: url("../img/icons/search.svg") center / contain no-repeat;
	border: none;
	cursor: pointer;
}

.search-header__input {
	padding-left: 15px;
	padding-right: 15px;
	height: 43px;
	flex-grow: 1;
	border: none;
	outline: none;
	color: #2f302c;
}

.header__menu {
	flex-grow: 1;
}

.icon-menu {
	display: none;
}

.menu {}

.menu__body {}

.menu__list {
	display: flex;
	gap: 8px 44px;
	align-items: center;
	flex-wrap: wrap;
}

.menu__item {}

.menu__link,
.action-header__link {
	font-weight: 700;
	line-height: 1.25;
	color: #2f302c;
	transition: color 0.2s;
}

.menu__link:hover {
	color: #7e7f7c;
}


.header__action {}

.action-header {
	display: flex;
	align-items: center;
	gap: 44px;
}

.action-header__item {}

.action-header__link {
	padding-left: 22px;
	display: block;
	line-height: 1.25;
}

.action-header__link--love {
	background: url("../img/icons/favorite.svg") left center / 16px auto no-repeat;
}

.action-header__link--cart {
	background: url("../img/icons/cart.svg") left center / 16px auto no-repeat;
}


@media (width <=1422px) {
	.header__container {
		min-height: 120px;
		gap: 40px;
	}

	.action-header,
	.menu__list {
		gap: 8px 25px;
	}

	.menu__list {
		justify-content: center;
	}
}

@media (width <=1200px) {
	.header__search {
		flex-basis: 190px;
	}
}

@media (width <=992px) {
	.header__container {
		min-height: 100px;
		gap: 30px;
	}

	.action-header,
	.menu__list {
		gap: 8px 17px;
	}

	.header__logo {
		width: 37px;
		flex-shrink: 0;
		overflow: hidden;
	}
}

@media (width < 768px) {
	.header__container {
		min-height: 70px;
	}

	.icon-menu,
	.header__action,
	.header__logo,
	.header__search {
		position: relative;
		z-index: 3;
	}

	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
		cursor: pointer;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 30px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 120px 15px 30px 15px;
	}

	.menu__body {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}

	.menu__list {
		row-gap: 30px;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

	.menu__link {
		font-size: 28px;
	}

	.menu__link:hover {
		color: #7e7f7c;
	}

	.header__search {
		flex-grow: 1;
		flex-basis: auto;
		margin: 0 10px;
	}

	.action-header__link {
		width: 25px;
		aspect-ratio: 1;
		padding-left: 0;
		font-size: 0;
		line-height: 1;
		background-size: contain;
	}

	[data-menu-open] .icon-menu span {
		width: 0;
	}

	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}

	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}

	[data-menu-open] body {
		overflow: hidden;
	}
}

@media (width < 480px) {
	.header__container {
		gap: 15px;
	}

	.header__logo {
		width: 28px;
	}

	.header__image-logo {
		width: 154px;
		object-fit: contain;
	}

	.action-header {
		gap: 8px 15px;
	}

	.search-header {
		border-radius: 5px;
		border: 1px solid #d4d4d4;
		border-bottom: 1px solid #d4d4d4;
	}

	.search-header__button {
		display: none;
	}

	.search-header__input {
		background-color: transparent;
		height: 33px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.header__search {
		margin: 0;
	}
}



.hero {
	position: relative;
}

.hero__container {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.hero__banner {
	width: 100vw;
	height: auto;
	max-width: none;
	display: block;
	object-fit: cover;
	min-height: 600px;
}

.hero__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__wrapper {
	width: 100%;
	max-width: 1422px;
	padding-left: 15px;
	padding-right: 120px;

	display: flex;
	justify-content: flex-end;
	margin-top: 0;
}

.hero__text-block {
	max-width: 400px;
	text-align: left;
}


.hero__welcome,
.hero__browse,
.hero__info {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
	text-transform: uppercase;
	color: #2F302C;
	padding: 0;
}

.hero__main-title {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: clamp(40px, 8vw, 96px);
	line-height: 1.04166667;
	text-transform: uppercase;
	color: #2F302C;
}

.hero__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: clamp(40px, 8vw, 96px);
	line-height: 1.04166667;
	text-transform: uppercase;
	color: #2F302C;
	margin-top: 0;
}

.hero__line {
	max-width: 308px;
	width: 100%;
	height: 1px;
	background-color: #2f302c;
	margin-top: 16px;
	margin-bottom: 36px;
	border: none;
}

.hero__browse {
	font-size: 20px;
	line-height: 1.4;
}

.hero__info {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #7E7F7C;
	text-transform: none;
	margin-top: 20px;
}


@media (width <=1422px) {


	.hero__banner {
		min-height: 550px;
	}
}

@media (width <=992px) {
	.hero__banner {
		min-height: 500px;
	}

	.hero__text-block {
		max-width: 320px;
	}

	.hero__welcome,
	.hero__browse {
		font-size: 17px;
	}

	.hero__line {
		margin-top: 12px;
		margin-bottom: 25px;
	}
}

@media (width <=768px) {
	.hero__banner {
		min-height: 400px;
	}

	.hero__content {

		align-items: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.6);
	}

	.hero__text-block {
		max-width: 80%;
		text-align: center;
	}

	.hero__main-title,
	.hero__title {
		color: #2F302C;
	}

	.hero__line {
		margin: 15px auto;
		background-color: #2F302C;
	}

	.hero__info {
		display: none;
	}
}

@media (width <=480px) {
	.hero__banner {
		min-height: 300px;
	}

	.hero__welcome,
	.hero__browse {
		font-size: 16px;
	}

	.hero__line {
		max-width: 200px;
	}
}